[Unit]
Description=switchboard

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/root/code/switchboard/switchboard
WorkingDirectory=/root/code/switchboard

[Install]
WantedBy=multi-user.target
