[Unit]
Description=switchboard

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/code/switchboard/switchboard
WorkingDirectory=/home/pi/code/switchboard

[Install]
WantedBy=multi-user.target
